@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.df-ali-jusc{
    display: flex;
    align-items: center; 
    justify-content: center;
}

.w-25{
    max-width: 25%;
}

.bg-red{
    background-color: rgb(231, 50, 50) !important;
}

.bg-info{
    background-color: rgb(80, 194, 247) !important;
    color: #fff;
}

.header-form{
    width: 100%;
    display: flex;
    justify-content: space-between;
} 